@model IEnumerable<CrudNet7MVC.Models.User>
@{
    ViewData["Title"] = "Contact List";
}

<h1 class="text-center">
    Contact List .Net 7 (ASP .Net Core MVC)
</h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Create" asp-controller="Home" class="btn btn-secondary d-block mx-auto btn.lg">
            <i class="bi bi-file-plus-fill"></i> Create new contact
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Contact List</strong></h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUsers" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                    <th>@Html.DisplayNameFor(m => m.Phone)</th>
                                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => user.Id)</td>
                                        <td>@Html.DisplayFor(m => user.Name)</td>
                                        <td>@Html.DisplayFor(m => user.Phone)</td>
                                        <td>@Html.DisplayFor(m => user.Email)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-controller="Home" asp-route-id="@user.Id">
                                                <i class="bi bi-pencil-fill"></i> Edit
                                            </a>
                                            <a class="btn btn-secondary" asp-action="Details" asp-controller="Home" asp-route-id="@user.Id">
                                                <i class="bi bi-info-circle-fill"></i> Details
                                            </a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Home" asp-route-id="@user.Id">
                                                <i class="bi bi-eraser-fill"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>There are no users registered</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
